body {
    padding-top: 50px;
}

.form-control {
    border-radius: 0%;
}

@media(max-width:768px) {
    .command_button {
        margin-top: 5px;
    }
}

.card {
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.btn {
    border-radius: 0%;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    text-align: center;
}

.btn:hover {
    background-color: #c6c6c6;
    border-color: #a6a6a6;
}

.table {
    text-align: left !important;
}
