<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TTCC Demo</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/home.css" rel="stylesheet">
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-route.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
  </head>
  <body ng-app="products">
    <navigation-bar></navigation-bar>
    <voice-form></voice-form>
    <device-cards></device-cards>
  </body>
</html>
